
.myContainer {
    text-align: center;
 
}
.trafficLight {
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 580px;
    line-height: 100px;
}
.redLight {
    background-color: red;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: 17px;
}
.yellowLight {
    background-color: yellow;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: 17px;
}
.greenLight {
    background-color: green;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: 17px;
}
.redLight, .yellowLight, .greenLight {
    transition: all 0.3s ease-in-out;
  }